<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ encore_entry_link_tags('admin/app') }}
  {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'admin/includes/menu.html.twig' with {} only %}

{% block baseBody %}{% endblock %}

{{ encore_entry_script_tags('admin/app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
