{% extends 'admin/dashboard.html.twig' %}

{% block baseBody %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>
            Hello World in blog list.
          </h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
