{% extends 'base.html.twig' %}

{% block baseBody %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>
            Login
          </h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
